@import "tailwindcss";

* {
    font-family: "Montserrat", sans-serif;
    /* font-family: "Alien Block", sans-serif; */
    /* box-sizing: "border-box", */
}
body {
    background-color: #FFFAF6;
    user-select: none;
}

:root {
    --primary-pink: #FBB1BD
}


@theme {
    --color-white-back: #FFFAF6;
    --color-white-form: #F9FAFB;
    --color-primary: var(--primary-pink);

    --color-progress: #D66400;
    --color-available: #04CF70;
    --color-unavailable: #DC1B47;
    --color-confirm: #1257ED;

    /* --background-image-brand-gradient: radial-gradient(circle,rgba(255, 66, 98, 1) 0%, rgba(251, 177, 189, 1) 56%, rgba(255, 66, 98, 1) 100%); */

}

@utility sidemenu-item {
    @apply font-semibold  select-none;
}

/* for title style */
@utility title-style {
    @apply p-3 border-b;
}

/* gird style col 2 */
@utility grid-items {
   @apply grid lg:grid-cols-2 gap-3 md:grid-cols-1;
}

/* grid style cols 4*/
@utility grid-items-4 {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6
}

/* sidebar-mobile slide */
@utility sidebar-mobile {
    @apply fixed inset-y-0 left-0 z-50 w-64 bg-primary transform transition-transform duration-300 cursor-pointer select-none;
}

/* label styling */
@utility label-styling {
    @apply text-xs font-bold text-gray-400 uppercase tracking-widest;
}

/* table wrapper styling */
@utility table-wrapper {
    @apply bg-white-back border border-gray-200 rounded-2xl overflow-hidden shadow-sm mt-3;
}

/* table header styling */
@utility thead-styling {
    @apply px-6 py-4 text-xs font-black text-gray-400 uppercase tracking-widest;
}

/* modal form input design */
@utility input-styling {
    @apply w-full px-4 py-3 bg-gray-100 border-transparent focus:bg-white focus:border-black border-2 rounded-xl transition-all outline-none font-bold text-gray-700;
}

@utility editBtn {
    @apply p-2 text-gray-600 hover:bg-gray-100 rounded-xl transition-colors border border-transparent hover:border-gray-200;
}

@utility deleteBtn {
    @apply p-2 text-red-500 hover:bg-red-50 rounded-xl transition-colors border border-transparent hover:border-red-100;
}

/* create Button */
@utility createFormBtn {
    @apply bg-white text-black rounded-xl border-gray-200 shadow-md p-5 hover:bg-primary hover:text-white hover:border-primary w-47.5;
}


/* testing antd classes with css */
/* .ant-table-tbody > tr > td:not(:last-child)::before {
    content: "";
    position: absolute;
    top: 30%;
    right: 0;
    width: 1px; 
    height: 40%; 
    background-color: #FBB1BD !important;
    z-index: 10;
} */


/* Pretty tricky, Turns out Ant Design was gatekeeping our styles until we disabled its rules */
.ant-table-wrapper .ant-table,
.ant-table-container,
.ant-table-content {
    scrollbar-color: unset !important;
    scrollbar-width: auto !important;
}

.ant-table-content::-webkit-scrollbar,
.table-wrapper::-webkit-scrollbar, ::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
    /* display: block !important; */
}

.ant-table-content::-webkit-scrollbar-track,
.table-wrapper::-webkit-scrollbar-track, ::-webkit-scrollbar-track {
    background: #FFFAF6 !important; 
    border-radius: 10px !important; 
}

.ant-table-content::-webkit-scrollbar-thumb,
.table-wrapper::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb {
    background: var(--primary-pink) !important;
    border-radius: 10px !important; 
    border: 2px solid #FFFAF6 !important; 
}

.ant-table-content::-webkit-scrollbar-thumb:hover,
.table-wrapper::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:hover {
    background: #f99cb0 !important;
}